

legend {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: large;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
label {
	text-align: right;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: medium;
	color: #000000;
	font-weight: bold;
}
h1 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #000000;
	background-color: #b38542;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#container {
	box-shadow: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 980px;
	background-image: url('13.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#billingAddress {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	border-style: none;
	box-shadow: 3px 3px 3px #b38542;
	background-color: #FFFFFF;
}
#shippingAddress {
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	border-style: none;
	box-shadow: 3px 3px 3px #b38542;
	background-color: #FFFFFF;
}
#submitBtn {
	background-color: #663300;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #FFFFFF;
	text-align: center;
}
#btnContainer {
	text-align: center;
}
#resetBtn {
	background-color: #663300;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #FFFFFF;
}
#errorMessage {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: large;
	font-weight: bold;
	color: #CC0000;
	text-align: center;
	display: none;
}
#bFirstName {
	float: right;
}
#bLastName {
	float: right;
}
#bStreetAddress {
	float: right;
}
#bGender {
	float: right;
}
#bPhoneNumber {
	float: right;
}
#bYear {
	float: right;
}
#sFirstName {
	float: right;
}
#sLastName {
	float: right;
}
#sStreetAddress {
	float: right;
}
#sGender {
	float: right;
}
#sPhoneNumber {
	float: right;
}
#sYear {
	float: right;
}
#footer {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: x-small;
	text-align: center;
}
input:invalid, select:invalid {
	border-color: red;
  }
  
  input:valid, select:valid {
	border-color: green;
  }
  